
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #2b2b2b;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

strong
{
}


a
{
	color: #2C383B;
}

a:hover
{
	text-decoration: none;
}

.container
{
	margin: 0px auto;
	width: 1200px;
}
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
#header-wrapper
{
	background: #2b2b2b;
}

#header
{
	position: relative;
	height: 100px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	position: absolute;
	top: 1.6em;
	width: 100%;
}

#logo h1
{
	display: inline-block;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #ED7070;
	padding-right: 0.50em;
	border-right: 1px solid rgba(0,0,0,.1);
}

#logo span
{
	display: inline-block;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 0.90em;
}

#logo span img
{
	width: 50px;
	height: 50px;
}

#logo a
{
	text-decoration: none;
	color: #FFF;
}

#logo .fa
{
	color: #F2762E;
}

#logo .fa:after
{
	position: absolute;
	display: inline-block;
	padding-right: 2em;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
	position: absolute;
	right: 0;
	top: 2.5em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 1px;
	padding: 1em 1.5em 1em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .current_page_item a
{
	background: #F2762E;
	border-radius: 30px;
	color: #FFF;
}
#menu li a img 
{
	width: 30px;
	height: 30px;
}

/* Canvas */
#drawingapp
{
	align:center;
}

#drawingapp canvas
{
	border:1px solid red;
	background-color: white;
	height: 720px;
	width: 1280px;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
}

/* Son*/

img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

#login-button{
  cursor: pointer;
  position: right;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(3,3,3,.8);
  overflow: hidden;
  
  box-shadow: 10px 10px 30px #000;}

/* Login container */

#container2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 260px;
  border-radius: 5px;
  background: rgba(0,0,255,0.3);
  box-shadow: 1px 1px 50px #000;
  display: none;
  z-index: 1;
}

.close-btn{
  position: absolute;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 18px;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  opacity: .2;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.close-btn:hover{
  opacity: .5;
}


/* Inputs */
h3{
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}
a2,input{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3,3,3,.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}

/* Placeholders */
::-webkit-input-placeholder {
   color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
   color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
   color: red;  }
:-ms-input-placeholder {
   color: #333;  }



#remember-container{
  position: relative;
  margin: -5px 20px;
}

.checkbox {
  position: relative;
  cursor: pointer;
	-webkit-appearance: none;
	padding: 5px;
	border-radius: 4px;
  background: rgba(3,3,3,.2);
	display: inline-block;
  width: 16px;
  height: 15px;
}

.checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
  background: rgba(3,3,3,.4);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.5);
	color: #fff;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: 0px;
	left: 4px;
	color: #fff;
}

#remember{
  position: absolute;
  font-size: 13px;
  font-family: 'Hind', sans-serif;
  color: black;
  top: 7px;
  left: 20px;
}

#forgotten{
  position: absolute;
  font-size: 16px;
  font-family: 'Hind', sans-serif;
  color: black;
  right: 0px;
  top: 8px;
  cursor: pointer;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#forgotten:hover{
  color: rgba(255,255,255,.6);
}

#forgotten-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 400px;
  border-radius: 10px;
  background: rgba(3,3,3,0.25);
  box-shadow: 1px 1px 50px #000;
  display: none;
}
#registerc
{
position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 450px;
  border-radius: 10px;
  background: rgba(0,0,255,0.3);
  box-shadow: 1px 1px 50px #000;
  display: none;
  z-index: 1;
}
a2{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding: 4px 8px;
  background: rgba(107,255,3,0.3);
}
.orange-btn{
  background: rgba(87,198,255,.5);
}

/* My Gallery */
.ma-top-30{
    margin-top: 30px;
}
.profile{
    border-radius: 4px;
}

.profile-pic {
    padding: 1.5em 2em;
    text-align: center;
}
.profile-pic img {
    border:4px solid #fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.profile-pic img:hover {
	 border:4px solid  #F2762E;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.searchbox{
    margin-top:0px;
    background-color: white !important;
}
.btn-default:hover{
    background-color: rgb(242, 118, 46);
    border-color: rgb(242, 118, 46);
}
.modal-dialog {width:400px;}
.modal-dialog h3{
    text-shadow: none;
    text-align: left !important;
    color:black ;
    font-size: 24px;
}