
#drawingCanvas
{
  z-index: 1000;
}

#tempCanvas
{
  z-index: 1500;
}

.left-150{
    position: absolute;
    left: 150px;
}

#colorTable {
 width:231px;
 height:132px;
 position:absolute;
 margin-top:-100px;
 z-index:5000;
top: 260px;
 left:25px;
 background-color: #000000;
 display:none;
 cursor:pointer;
 }
.color {
   position:relative;
   height:7px;
   width:7px;
   float:left;
   padding:1px;
   margin:1px;
   }
.color:hover{ border:solid 1px #FFF; margin:0px; }

#color{
    background-color: rgb(0, 0, 255);
    width : 70px;
    height : 70px;
    border-radius: 80px;
    top: 120px;
    left: -20px;
    border: solid 3px black;
    position: absolute;
    z-index: 3000;
}

#saveButton{
    background-color: #FFFFFF;
    width : 10px;
    height : 10px;
}
#tool{
    width: 70px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 80px;
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: 3000;
    border: solid 3px black;
}

#toolSelector{
     width:280px;
 height:140px;
 margin-top: -10px;
 position:absolute;
 z-index:5000;
top: 70px;
 left:25px;
 background-color: #ffffff;
 display:none;
 cursor:pointer;
 border: solid 1px black;
}


.tool
    {
   position:relative;
   height:50px;
   width:50px;
   float:left;
   padding:5px;
   margin:5px;
   }


#sizeDiv{
    position: absolute;
    background-color: gray;
    border: 1px solid black;
    top: 220px;
    left: 5px;
    z-index: 3000;

}

#sizeSelector{
    width: 25px;
    height: 100px;
    -moz-transfrom: rotate(270deg);
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}

#saveDiv{
    border-radius: 80px;
    position: absolute;
    background-color: white;
    width:70px;
    height: 70px;
    border: 3px solid black;
    top: 370px;
    left: -20px;
    z-index: 3000;

}

#saveToServer{
    max-width: 70%;
    max-height: 70%;
    margin: auto;
    top: 12px;
    bottom: 0px;
    left: 10px;
    right: 0px;
    position: relative;

}

#clearDiv{
    border-radius: 80px;
    position: absolute;
    background-color: white;
    width:70px;
    height: 70px;
    border: 3px solid black;
    top: 470px;
    left: -20px;
    z-index: 3000;
}

#clearButton{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: relative;
}
