
    {% if results %}
        {% if select == 'photo' %}
            {% for result in results %}
                <a title="Image 1" href="{% url 'GalleryImageDetail' result.photo_id %} ">{{ result.photo_name }}</a>
            {% endfor %}
        {% elif select == 'user' %}
            {% for result in results %}
                <li>
                 {{ result.username }}
{#                 <a  href="{% url 'UserGallery'%}" {% result.username %} ">{{ result.username }}</a>#}
                </li>
            {% endfor %}
        {% endif %}
    {% elif results == '' %}
    {% else %}
        <li>No results found!</li>
    {% endif %}


