{% load staticfiles %}
<head>
    <link href="{% static 'css/heart_shaped_animation.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
{% csrf_token %}
<div class="heart-particle-box" data-post-id="{{ post }} " data-liked = '{{ liked }}'>
    <button class="likes post-likes" id="heart-icon">
        {% if liked %}
            <i class="heart-shaped fa fa-heart" style="display: inline-block"></i>
            <i class="heart-shaped fa fa-heart-o" style="display: none"></i>
        {% else %}
            <i class="heart-shaped fa fa-heart" style="display: none"></i>
            <i class="heart-shaped fa fa-heart-o" style="display: inline-block"></i>
        {% endif %}
    </button>
    <div class="like_count_blog" id="heart-counter" data-num-likes="{{ num_likes }}" style="float: right">{{ num_likes }}</div>
</div>