<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container2">
    <h3>Log In</h3>
    <span class="close-btn">
                <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png">
            </span>

    <div>
        <input type="email" id='email' name="email" placeholder="E-mail">
        <input type="password" name="pass" id='pass' placeholder="Password">
        <div class="message"></div>
        <a id="send_login" href="#" class="orange-btn" type="submit" class="btn btn-primary btn-lg " id="send_data"
            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Log in
        </a>
        <div id="remember-container">
            <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked"/>
            <span id="remember">Remember me</span>
            <span id="forgotten">Register</span>
        </div>


       <!-- <button type="submit" class="btn btn-primary btn-lg " id="send_login"
                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Send
        </button>-->
    </div>
</div>

<!--Get information by ajax for login-->
<script>
    "use strict";

    $('#send_login').on('click', function () {

        var email = document.getElementById('email').value;
        var pass = document.getElementById('pass').value;


        $.ajax({
            method: 'POST',
            url: '/api/send_login',
            dataType: 'json',
            data: {
                'email': email,
                'pass': pass
            },
            success: function (data) {
                //data = JSON.stringify(data)
                if (data.result == "failed") {
                    $(".message").html('<p>' + data.messages + '</p>');
                }
                else {
                    TweenMax.from("#container", .4, {scale: 1, ease: Sine.easeInOut});
                    TweenMax.to("#container", .4, {left: "0px", scale: 0, ease: Sine.easeInOut});
                    $("#container, #registerc").fadeOut(800, function () {
                        /*$("#login-button").remove();
                         $(".menu li:last-child").html('<a class="login-success" href="#">' + data.username + ' <span class="arrow">&#9660;</span></a>' +

                         '<ul class="sub-menu">' +
                         '<li><a href="#">My Account</a></li>' +
                         '<li><a id="logout_link">Log Out</a></li>' +

                         '</ul>')*/
                        location.reload();
                    });

                    TweenMax.from("#container2", .4, {scale: 1, ease: Sine.easeInOut});
                    TweenMax.to("#container2", .4, {left: "0px", scale: 0, ease: Sine.easeInOut});
                    $("#container2, #registerc").fadeOut(800, function () {
                        /*$("#login-button").remove();
                         $(".menu li:last-child").html('<a class="login-success" href="#">' + data.username + ' <span class="arrow">&#9660;</span></a>' +

                         '<ul class="sub-menu">' +
                         '<li><a href="#">My Account</a></li>' +
                         '<li><a id="logout_link">Log Out</a></li>' +

                         '</ul>')*/
                        location.reload();
                    });
                }

            }.bind(this)


        });
    });

    /*var $this = $(this);
     $this.button('loading');
     setTimeout(function () {
     $this.button('reset');//must include or button loading forever

     //synchronous call with other functions to test and timeout is 3 sec
     var email = document.getElementById('email').value;
     var pass = document.getElementById('pass').value;

     alert(email);


     $.ajax({
     method: 'POST',
     url: '../api/send_login',
     data: {
     'email': email,
     'pass': pass
     },
     success: function (data) {
     alert('Yay');

     }.bind(this)

     })
     }, 3000);
     });*/
</script>
</body>
</html>