<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="registerc">
    <h3>Register</h3>
    <span class="close-btn">
                <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png">
            </span>

    <div>
        <input type="username" name="username" id='username' placeholder="Username">
        <input type="Fullname" name="fullname" id='fullname' placeholder="Full Name">
        <input type="email" name="email" id='emailregister' placeholder="E-mail">
        <input type="password" name="Password" id='passregister' placeholder="Password">
        <input type="password" name="Confirm Password" id='confirmedpass' placeholder="Confirm Password">
        <input type="address" name="address" id='address' placeholder="Address">
        <a id="send_register" href="#" class="orange-btn">Register</a>
    </div>
    <!--<button type="submit" class="btn btn-primary btn-lg " id="send_register" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Send</button>-->
</div>

<!--Get information by ajax for register-->
<script>
    "use strict";
    $('#send_register').on('click', function () {

        var username = document.getElementById('username').value;
        var fullname = document.getElementById('first_name').value + " " + document.getElementById('last_name').value;
        var gender = document.getElementById("gender").value;
        var date_of_birth = document.getElementById("date_of_birth").value;
        var emailregister = document.getElementById('emailregister').value;
        var passregister = document.getElementById('passregister').value;
        var confirmedpass = document.getElementById('confirmedpass').value;

        $.ajax({
            method: 'POST',
            url: '/api/send_register',
            dataType: 'json',
            data: {
                'username': username,
                'fullname': fullname,
                'gender': gender,
                'date_of_birth': date_of_birth,
                'emailregister': emailregister,
                'passregister': passregister,
                'confirmedpass': confirmedpass,
            },
            success: function (data) {
                if (data.result_1 && data.result_2) {
                    $(".err_message_1").html('<p>' + data.message_1 + '</p>');
                    $(".err_message_2").html('<p>' + data.message_2 + '</p>');
                }
                if (!data.result_1 && data.result_2) {
                    $(".err_message_2").html('<p>' + data.message_2 + '</p>');
                    $(".err_message_1").empty();
                }
                if (data.result_1 && !data.result_2) {
                    $(".err_message_1").html('<p>' + data.message_1 + '</p>');
                    $(".err_message_2").empty();
                }
                if (data.result == "success") {
                    location.reload();
                }
            }.bind(this)

        });
    });

</script>
</body>
</html>