{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Drawing Tool</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href = "{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


</head>
<body>
    <div id="header-wrapper">
        <div id="header" class="container">
            {% csrf_token %}
            <div id="logo">
                <h1><span><img src="{% static 'img/brush.svg' %}"></span><a href="#">Online Drawing Tool</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
                    <li><a href="#" accesskey="2" title="">Coloring Book</a></li>
                    <li><a href="#" accesskey="3" title="">My Gallery</a></li>
                    <li><a href="#" accesskey="4" title="">Newsfeed</a></li>
                    <li><a id="login-button"><img src="{% static 'img/login.svg' %}"/></a></li>
                </ul>
            </div>
        </div>

        <div id="container2">
            <h3>Log In</h3>
            <span class="close-btn">
                <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png">
            </span>

            <div>
                <input type="email" id = 'email' name="email" placeholder="E-mail">
                <input type="password" name="pass" id = 'pass' placeholder="Password">


                <a2 href="#"class="orange-btn" type="submit" class="btn btn-primary btn-lg " id="send_data" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Log in</a2>
                <div id="remember-container">
                    <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked"/>
                    <span id="remember">Remember me</span>
                    <span id="forgotten">Register</span>
                </div>

                <button type="submit" class="btn btn-primary btn-lg " id="send_login" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Send</button>
            </div>
        </div>

        <!--Get information by ajax for login-->
            <script>
                "use strict";

                $('.btn').on('click', function() {

                    var email = document.getElementById('email').value;
                    var pass = document.getElementById('pass').value;


                    $.ajax({
                        method: 'POST',
                        url: '/api/send_login',
                        data: {
                            'email': email,
                            'pass': pass
                        },
                        success: function (data) {
                            alert('Yay');

                        }.bind(this)

                    });
                });

                    /*var $this = $(this);
                    $this.button('loading');
                    setTimeout(function () {
                        $this.button('reset');//must include or button loading forever

                        //synchronous call with other functions to test and timeout is 3 sec
                        var email = document.getElementById('email').value;
                        var pass = document.getElementById('pass').value;

                        alert(email);


                        $.ajax({
                            method: 'POST',
                            url: '../api/send_login',
                            data: {
                                'email': email,
                                'pass': pass
                            },
                            success: function (data) {
                                alert('Yay');

                            }.bind(this)

                        })
                    }, 3000);
                });*/
            </script>


        <!-- Register Container -->
        <div id="registerc">
            <h3>Register</h3>
            <span class="close-btn">
                <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png">
            </span>

            <div>
                <input type="username" name="username" id = 'username' placeholder="Username">
                <input type="Fullname" name="fullname" id = 'fullname' placeholder="Full Name">
                <input type="email" name="email" id = 'emailregister' placeholder="E-mail">
                <input type="password" name="Password" id = 'passregister' placeholder="Password">
                <input type="password" name="Confirm Password" id = 'confirmedpass' placeholder="Confirm Password">
                <input type="address" name="address" id = 'address' placeholder="Address">
                <a2 href="#" class="orange-btn">Register</a2>
            </div>
            <button type="submit" class="btn btn-primary btn-lg " id="send_register" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Send</button>
        </div>

        <!--Get information by ajax for register-->
        <script>
            "use strict";
            $('.btn').on('click', function() {

                    var username = document.getElementById('username').value;
                    var fullname = document.getElementById('fullname').value;
                    var emailregister = document.getElementById('emailregister').value;
                    var passregister = document.getElementById('passregister').value;
                    var confirmedpass = document.getElementById('confirmedpass').value;
                    var address = document.getElementById('address').value;

                    $.ajax({
                        method: 'POST',
                        url: '/api/send_register',
                        data: {
                            'username': username,
                            'fullname': fullname,
                            'emailregister': emailregister,
                            'passregister': passregister,
                            'confirmedpass': confirmedpass,
                            'address': address
                        },
                        success: function (data) {
                            alert('Yahoo');

                        }.bind(this)

                    });
                });

        </script>


        <div id="drawingapp">
          <canvas></canvas>
        </div>
    </div>


    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>

</body>
</html>